*.pth
*.pyc
*.pth
*.zip
*.mp4
wandb/

!MDMCritic/criexample.pth
MotionCritic/wandb
MotionCritic/data/*
MotionCritic/datasets/
MotionCritic/pretrained/
MotionCritic/marked/
MotionCritic/wandb/
MotionCritic/metric/metrics_data/
MotionCritic/metric/body_models/
MotionCritic/pics/
MotionCritic/stats/
MotionCritic/render_output
MotionCritic/body_models
MotionCritic/data_process

MDMCritic/body_models/
MDMCritic/dataset/
MDMCritic/save/
MDMCritic/body_models/
MDMCritic/wandb/
MDMCritic/glove/
requirements.txt

motion-diffusion-model
