*.pth
*.pyc
*.pth
*.zip
*.mp4
wandb/
assets/

!MDMCritic/criexample.pth
MotionCritic/wandb
MotionCritic/data/
!MotionCritic/data/mpjpe/
!MotionCritic/data/mapping/
MotionCritic/datasets/
MotionCritic/pretrained/
MotionCritic/marked/
MotionCritic/wandb/
MotionCritic/metric/metrics_data/
MotionCritic/metric/body_models/
MotionCritic/pics/

MDMCritic/body_models/
MDMCritic/dataset/
MDMCritic/save/
MDMCritic/body_models/
MDMCritic/wandb/
requirements.txt

