*.pth
*.pyc
*.pth
*.zip
*.mp4
wandb/

PP-Motion/wandb
PP-Motion/data/*
PP-Motion/datasets/
PP-Motion/pretrained/
PP-Motion/marked/
PP-Motion/wandb/
PP-Motion/metric/metrics_data/
PP-Motion/metric/body_models/
PP-Motion/pics/
PP-Motion/stats/
PP-Motion/render_output
PP-Motion/body_models
PP-Motion/data_process

!MDMCritic/criexample.pth
MDMCritic/body_models/
MDMCritic/dataset/
MDMCritic/save/
MDMCritic/body_models/
MDMCritic/wandb/
MDMCritic/glove/
requirements.txt

motion-diffusion-model/
